services:
  gateway-service:
    build:
      context: ./gateway-service
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - ./gateway-service/.env
    volumes:
      - ./gateway-service:/app
      - /app/node_modules
    depends_on:
      - auth-service
      - ip-service

  auth-service:
    build: ./auth-service
    env_file:
      - ./auth-service/.env
    ports:
      - "8001:8001"
    volumes:
      - ./auth-service:/app
    depends_on:
      - auth-db

  auth-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: auth_db
    volumes:
      - auth-db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  ip-service:
    build: ./ip-service
    env_file:
      - ./ip-service/.env
    ports:
      - "8002:8002"
    volumes:
      - ./ip-service:/app
    depends_on:
      - ip-db

  ip-db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ip_db
    volumes:
      - ip-db-data:/var/lib/mysql
    ports:
      - "3307:3306"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - gateway-service

volumes:
  auth-db-data:
  ip-db-data: